.idea/
captures/
java/bin/
java/gen/
java/hackerskeyboard.iml
java/libs/*/
java/local.properties
java/private.properties
java/obj/
out/
tests/gen/
tests/tests.iml
app/build/*
.gradle/*
/local.properties
hackerskeyboard.iml
app/release/output.json
app/release/app-release.apk
build/android-profile/*
build/intermediates/dex-cache/cache.xml
