<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
        package="com.android.inputmethod.latin"
        android:sharedUserId="android.uid.shared">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.BACKUP_DATA" />

    <application android:label="@string/english_ime_name"
            android:backupAgent="LatinIMEBackupAgent"
            android:killAfterRestore="false">

        <service android:name="LatinIME"
                android:label="@string/english_ime_name"
                android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>
        
        <activity android:name="LatinIMESettings" android:label="@string/english_ime_settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>    
    </application>
</manifest>
